<h1> Application: </h1>

<%= render partial: 'form', locals: { method: :post,
                                      url: applications_path,
                                      local: true,
                                      submit: "Submit Application" }%>